{$CADDYFILE_CLIENT_URL} {
    reverse_proxy client:{$CLIENT_PORT}
}

{$CADDYFILE_SERVER_URL} {
    reverse_proxy server:{$SERVER_PORT}
}

{$CADDYFILE_CDN_URL} {
    root * /public_html
    encode gzip

    # for .php files to work
    route /*.php {
        php_fastcgi php:9000
        file_server
    }

    # / route
    route / {
        file_server
    }

    reverse_proxy image-server:{$CDN_PORT}
}